html {
	/* background-color: rgba(27, 38, 54, 1); */
	text-align: center;
	--wails-drop-target: drop;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #f0f0f0;
}
